<div>
  <div class="users-list" *ngIf="!loading">
    <div class="item" routerLink="/user/{{item.id}}"
         *ngFor="let item of usersList | paginate: {
            itemsPerPage: usersData.per_page,
            currentPage: usersData.page,
            totalItems: usersData.total
          }">
      <div class="avatar">
        <img [src]="item.avatar" alt=""/>
      </div>
      <div class="title">
        <span>{{item.first_name}} {{item.last_name}}</span>
      </div>
    </div>
    <div class="pagination__wrap">
      <pagination-controls (pageChange)="changePage($event)"></pagination-controls>
    </div>
  </div>
  <div *ngIf="loading" class="loading">
    Loading ...
  </div>
</div>


