.users-list {

  .item {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    cursor: pointer;
    transition: box-shadow ease 0.35s;
    background-color: white;
    margin-bottom: 10px;

    &:hover {
      box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    }
  }
  .avatar {
    display: flex;
    flex: 0 1 auto;
  }
  .title {
    display: flex;
    flex: 1 1 auto;
    font-size: 24px;
    font-weight: bold;
    padding-left: 10px;
  }
}
