.user-image {

}
.user-data {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding-left: 10px;

  &__wrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    padding-top: 10px;
  }
}
