/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}
html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.page-container {
  width: 100%;
  height: auto;
  min-height: 100%;
  background: linear-gradient(to right, rgba(91,141,210,0.35) 0%,rgba(49,184,146,0.45) 100%);
  padding-bottom: 120px;
  position: relative;
  overflow: hidden;
}
.container {
  max-width: 1366px;
  padding: 0 20px;
  margin: 0 auto;
}
.button {
  margin: 0;
  padding: 6px 10px;
  outline: none;
  border: none;
  border-radius: 3px;
  background: papayawhip;
  font-size: 16px;
  line-height: 18px;
  color: black;
  cursor: pointer;
  transition: background-color ease 0.35s, color ease 0.35s;

  &:hover {
    background-color: cadetblue;
    color: white;
  }
}
header {
  padding: 10px 0;

  .container {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 100px;

    img {
      max-width: 100%;
    }
  }
  .description {
    padding: 0 50px;
  }
}

footer {
  height: 100px;
  margin-top: -100px;
  position: relative;
}
